@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cartContainer{
    margin-top: 30px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    height: 350px;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
}

.cart-image {
    list-style: none;
    text-decoration: none;
}

.cart-title {
    text-decoration: none;
    color: #4b4848;
    font-size: 18px;
    font-weight: bold;
}

.cart-price .cart-qtd {
    text-decoration: none;
    color: #535151;
    font-size: 15px;
}

.cart-ItemTotal {
    text-decoration: none;
    color: #535151;
    font-size: 17px;
    margin-left: 30px;
    font-weight: bold;
}

.Button {
    width: 300px;
    margin-bottom: 10px;
}

.buy-Button{
    width: 300px;
    margin-bottom: 10px;
    align-items: end;
    /*margin-left: 915px;*/
}

.cartTotal {
    text-decoration: none;
    color: #535151;
    font-size: 20px;
    /*margin-left: 920px;*/
    font-weight: bold;
    text-align: center;
}

.cartSubTotal {
    text-decoration: none;
    color: #535151;
    font-size: 17px;
    text-align: end;
    margin-right: 150px;
    /*margin-left: 920px;*/
}